In [1]:
#Exercici 1_Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i 
#carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes 
#que consideris rellevants

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

Airlines_Delay = pd.read_csv(r'C:\\Users\\mio\\Documents\\IT ACADEMY\\3.5_Pandas\\data\\finaldata\\DelayedFlights.csv')

In [2]:
Airlines_Delay.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [3]:
Airlines_Delay.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [4]:
#per visualizar menys columnes
Airlines_Delay.drop(columns=['TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],axis=1)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,152.0,120.0,25.0,30.0,MSP,ATL,906
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,N3743H,127.0,109.0,78.0,75.0,57.0,RIC,ATL,481
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,143.0,122.0,99.0,80.0,ATL,IAH,689
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,117.0,89.0,9.0,11.0,IAD,ATL,533
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,135.0,104.0,-5.0,7.0,SAT,ATL,874

In [5]:
#per un fitxer amb menys columnes
Airlines_Delay_reduced = Airlines_Delay[['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance']]
Airlines_Delay_reduced.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance'],
      dtype='object')

In [6]:
#Exercici 2
#Fes un informe complet del data set:.

In [7]:
#Resumeix estadísticament les columnes d’interès
Airlines_Delay_reduced.describe().round(1)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance
count,1936758.0,1936758.0,1936758.0,1936758.0,1936758.0,1936758.0,1936758.0,1929648.0,1936758.0,1936758.0,1928371.0,1936560.0,1928371.0,1928371.0,1936758.0,1936758.0
mean,3341651.2,2008.0,6.1,15.8,4.0,1518.5,1467.5,1610.1,1634.2,2184.3,133.3,134.3,108.3,42.2,43.2,765.7
std,2066065.0,0.0,3.5,8.8,2.0,450.5,424.8,548.2,464.6,1944.7,72.1,71.3,68.6,56.8,53.4,574.5
min,0.0,2008.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,14.0,-25.0,0.0,-109.0,6.0,11.0
25%,1517452.5,2008.0,3.0,8.0,2.0,1203.0,1135.0,1316.0,1325.0,610.0,80.0,82.0,58.0,9.0,12.0,338.0
50%,3242558.0,2008.0,6.0,16.0,4.0,1545.0,1510.0,1715.0,1705.0,1543.0,116.0,116.0,90.0,24.0,24.0,606.0
75%,4972466.8,2008.0,9.0,23.0,6.0,1900.0,1815.0,2030.0,2014.0,3422.0,165.0,165.0,137.0,56.0,53.0,998.0
max,7009727.0,2008.0,12.0,31.0,7.0,2400.0,2359.0,2400.0,2400.0,9742.0,1114.0,660.0,1091.0,2461.0,2467.0,4962.0

In [8]:
Airlines_Delay_reduced.isnull()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1936754,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1936755,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1936756,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1936757,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
#Troba quantes dades faltants hi ha per columna
Airlines_Delay_reduced.isnull().sum()

Unnamed: 0              0
Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime              7110
CRSArrTime              0
UniqueCarrier           0
FlightNum               0
TailNum                 5
ActualElapsedTime    8387
CRSElapsedTime        198
AirTime              8387
ArrDelay             8387
DepDelay                0
Origin                  0
Dest                    0
Distance                0
dtype: int64

In [10]:
#Troba quantes dades faltants hi ha per columna....percentatge
(Airlines_Delay_reduced.isnull().sum())*100/len(Airlines_Delay_reduced)

Unnamed: 0           0.000000
Year                 0.000000
Month                0.000000
DayofMonth           0.000000
DayOfWeek            0.000000
DepTime              0.000000
CRSDepTime           0.000000
ArrTime              0.367108
CRSArrTime           0.000000
UniqueCarrier        0.000000
FlightNum            0.000000
TailNum              0.000258
ActualElapsedTime    0.433043
CRSElapsedTime       0.010223
AirTime              0.433043
ArrDelay             0.433043
DepDelay             0.000000
Origin               0.000000
Dest                 0.000000
Distance             0.000000
dtype: float64

In [11]:
(Airlines_Delay_reduced.notnull().sum())*100/len(Airlines_Delay_reduced)

Unnamed: 0           100.000000
Year                 100.000000
Month                100.000000
DayofMonth           100.000000
DayOfWeek            100.000000
DepTime              100.000000
CRSDepTime           100.000000
ArrTime               99.632892
CRSArrTime           100.000000
UniqueCarrier        100.000000
FlightNum            100.000000
TailNum               99.999742
ActualElapsedTime     99.566957
CRSElapsedTime        99.989777
AirTime               99.566957
ArrDelay              99.566957
DepDelay             100.000000
Origin               100.000000
Dest                 100.000000
Distance             100.000000
dtype: float64

In [12]:
#check before fillna
Airlines_Delay_reduced['ArrDelay'].isnull().sum()

8387

In [ ]:
#Clean 'Airlines_Delay_reduced' NaN -> mean values ..............Use ftº-> df.fillna(df.mean())
Airlines_Delay_reduced = Airlines_Delay_reduced.fillna(Airlines_Delay_reduced.mean())

In [ ]:
#check after fillna
Airlines_Delay_reduced['ArrDelay'].isnull().sum()